/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding-top: 80px;
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.container {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

textarea {
  resize: none;
}

.order-form__field input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.order-form__field--checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__hiden {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  top: 0;
  outline: 1px solid #ECECEC;
  background-color: #FFFFFF;
  z-index: 1;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .header-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .header-block__site-nav {
    display: none;
  }
}

.header-block__logo--black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #212121;
}

.header-block__logo--blue {
  color: #2196F3;
}

.header-block__site-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header-block__site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-block__site-nav {
    margin-left: 88px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-block__site-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 93px;
  }
}

.site-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.site-nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  position: relative;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.site-nav__link:focus, .site-nav__link:hover {
  color: #2196F3;
}

.site-nav__link--main {
  margin-top: 32px;
}

.site-nav__link--main::after {
  content: '';
  margin-top: 28px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header-block__contacts {
    margin-left: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .header-block__contacts {
    width: 333px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) {
  .header-block__contacts--item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header-block__contacts--item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-block__contacts--item {
    margin-bottom: 0;
  }
  .header-block__contacts--item:first-child {
    margin-bottom: 0px;
  }
  .header-block__contacts--item:not(:first-child) {
    margin-left: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.header-block__contacts--link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header-block__contacts--link:hover, .header-block__contacts--link:focus {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .header-block__contacts--link:hover, .header-block__contacts--link:focus {
    font-size: 14px;
  }
}

.header-block__contacts--icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .header-block__contacts--text {
    font-size: 12px;
  }
}

.hero {
  max-width: 1600px;
  min-width: 480px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main-m.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-m.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main-t.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-t.jpg");
    width: 768px;
    height: 400px;
  }
}

.hero-1 {
  min-width: 480px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .hero-1 {
    width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main-m.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-m.jpg");
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero-1 {
    background-image: url("../images/main-m2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-1 {
    width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main-t.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-t.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-1 {
    background-image: url("../images/main-t2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-1 {
    width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-1 {
    background-image: url("../images/main2.jpg");
  }
}

.hero-block {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-block {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-block__headline {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-block__headline {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
}

.hero-order__button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  min-block-size: 200;
  height: 50px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-order__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  z-index: 2;
}

.hero-order__backdrop.hero-order__hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-order__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  overflow: scroll;
  height: 609px;
  width: 450px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .hero-order__modal {
    height: 581px;
    width: 528px;
  }
}

.hero-order__modal--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  background-size: contain;
  padding: 0;
  margin: 0;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.hero-order__modal--close:focus, .hero-order__modal--close:hover {
  fill: #2196F3;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form__headline {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

.order-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  color: #757575;
}

.order-form__field:first-child {
  margin-top: 0px;
}

.order-form__field:last-child {
  margin-top: 20px;
}

.order-form__field label {
  margin-bottom: 4px;
}

.order-form__field:last-child label {
  margin-bottom: 0px;
}

.order-form__field:not(:last-child) input {
  width: 370px;
  padding-left: 42px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  height: 40px;
  font-size: 14px;
  color: #212121;
  cursor: pointer;
  position: relative;
  -webkit-transition-property: outline;
  transition-property: outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.order-form__field:hover:not(:last-child) input,
.order-form__field:hover textarea,
.order-form__field:focus:not(:last-child) input,
.order-form__field:focus textarea {
  outline: 1px solid #2196F3;
}

.order-form__field:hover input ~ .order-form__field--icon,
.order-form__field:focus input ~ .order-form__field--icon {
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .order-form__field:hover input ~ .order-form__field--icon,
  .order-form__field:focus input ~ .order-form__field--icon {
    width: 448px;
  }
}

.order-form__field textarea {
  width: 370px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  color: #212121;
  height: 120px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition-property: outline;
  transition-property: outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

@media screen and (min-width: 1200px) {
  .order-form__field textarea {
    width: 448px;
  }
}

.order-form__field textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.order-form__field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.order-form__field textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.order-form__field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.order-form__js {
  margin-top: 12px;
  margin-bottom: 30px;
}

.order-form__field--comments {
  padding: 12px 16px;
}

.order-form__field--agreement {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  margin-right: 9px;
}

@media screen and (min-width: 1200px) {
  .order-form__field--agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.order-form__field--input {
  color: #212121;
  position: relative;
}

.order-form__field--treaty {
  color: #2196F3;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .order-form__field--treaty {
    font-size: 14px;
    line-height: 1.71;
  }
}

.order-form__field--icon {
  position: absolute;
  margin-left: 12px;
  -webkit-transform: translateY(calc(20px + 50%));
          transform: translateY(calc(20px + 50%));
  cursor: pointer;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.order-form__field--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.order-form__field--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}

.order-form__field--check:checked + .order-form__field--check-icon {
  fill: #2196F3;
  outline: 0px;
  background-size: contain;
}

.order-form__field--check-icon {
  fill: none;
  margin-right: 8px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  background-origin: padding-box;
  background-size: contain;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

@media screen and (min-width: 1200px) {
  .order-form__field--check-icon {
    margin-left: 12px;
  }
}

.order-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.order-form__submit--button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .advantages-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages__item {
  width: 450px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .advantages__item:nth-child(2n) {
    margin-right: 0px;
  }
  .advantages__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages__icon {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .advantages__icon:nth-child(2n) {
    margin-right: 0px;
  }
  .advantages__icon:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__icon {
    width: 270px;
  }
  .advantages__icon:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__headline {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__headline {
    text-align: start;
  }
}

.advantages__title {
  margin-top: 10px;
  color: #757575;
  line-height: 1.71;
}

.we-doing {
  margin-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .we-doing {
    display: none;
  }
}

.we-doing__headline {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.we-doing__block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.we-doing__item:not(:last-child) {
  margin-right: 30px;
}

.we-doing__hiden {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.we-doing__hiden--text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.our-team {
  min-width: 480px;
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__headeline {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team__headeline {
    font-size: 36px;
  }
}

.our-team__block {
  display: block;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .our-team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

.our-team__card {
  width: 450px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.our-team__card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team__card {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-team__card:nth-child(2n) {
    margin-right: 0px;
  }
  .our-team__card:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__card {
    width: 270px;
  }
  .our-team__card:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.our-team__img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .our-team__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__img {
    width: 270px;
  }
}

.our-team__command {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.our-team__position {
  margin-top: 10px;
  font-size: 16px;
  color: #757575;
  text-align: center;
}

.our-team__social-networks--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.our-team__social-networks--item:not(:last-child) {
  margin-right: 10px;
}

.our-team__social-networks--icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-transition-property: color, background-color,  -webkit-box-shadow;
  transition-property: color, background-color,  -webkit-box-shadow;
  transition-property: color, background-color,  box-shadow;
  transition-property: color, background-color,  box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.our-team__social-networks--icon-background:hover, .our-team__social-networks--icon-background:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.our-team__social-networks--icon {
  fill: currentColor;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
}

@media screen and (min-width: 1200px) {
  .companies {
    padding-top: 94px;
    padding-bottom: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.companies__headeline {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .companies__headeline {
    font-size: 28px;
  }
}

.companies__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .companies__block {
    margin-top: 50px;
  }
}

.companies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .companies__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .companies__item:nth-child(2n) {
    margin-right: 0px;
  }
  .companies__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .companies__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .companies__item:nth-child(3n) {
    margin-right: 0px;
  }
  .companies__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__item:not(:last-child) {
    margin-right: 30px;
  }
}

.companies__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  outline: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  color: #AFB1B8;
  fill: currentColor;
  -webkit-transition-property: color, outline;
  transition-property: color, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.companies__icon:hover, .companies__icon:focus {
  outline: 1px solid #2196F3;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .companies__icon {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__icon {
    width: 170px;
  }
}

.footer {
  min-width: 480px;
  background-color: #2F303A;
  line-height: 1.71;
  color: var(--backround-color);
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__item:first-child {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__item:first-child {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer__item:nth-child(2) {
    margin-right: 93px;
    margin-top: 72px;
  }
  .footer__item:nth-child(3) {
    margin-top: 72px;
  }
}

.footer__logo--wight {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer__logo--wight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo--blue {
  color: #2196F3;
}

.footer__address {
  margin-top: 20px;
}

.footer__text {
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__text:first-child {
  color: #FFFFFF;
}

.footer__text:nth-child(n+2) {
  margin-top: 9px;
}

.footer__contacts {
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__header {
  font-weight: 700;
  text-align: start;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social-networks--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__social-networks--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social-networks:not(:last-child) {
  margin-right: 10px;
}

.footer__social-networks--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.footer__social-networks--icon:hover, .footer__social-networks--icon:focus {
  background-color: #2196F3;
  color: backround-color;
}

.footer__maling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__maling input:focus {
  outline: 0;
}

@media screen and (min-width: 1200px) {
  .footer__maling {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__maling--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer__maling--button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__maling--button {
    margin-left: 12px;
  }
}

.footer__maling--text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  fill: #FFFFFF;
  margin-right: 10px;
}

.footer__maling--input {
  width: 450px;
  height: 50px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 4, 4, 0.15);
          box-shadow: 0 2px 1px 0 rgba(0, 4, 4, 0.15);
  background-color: #2f303a;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .footer__maling--input {
    width: 358px;
  }
}

.footer__maling--input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__maling--input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__maling--input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__maling--input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__button--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .portfolio__button--block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__button--item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__button--item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__button--item:nth-child(3) {
    margin-right: 80px;
  }
  .portfolio__button--item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__button--item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0px;
  }
  .portfolio__button--item:nth-child(3) {
    margin-right: 8px;
  }
}

.portfolio__button {
  background-color: #F5F4FA;
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition-property: color, background-color,  -webkit-box-shadow;
  transition-property: color, background-color,  -webkit-box-shadow;
  transition-property: color, background-color,  box-shadow;
  transition-property: color, background-color,  box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio__item--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .portfolio__item--block {
    margin-top: 50px;
  }
}

.portfolio__item {
  position: relative;
  outline: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio__item:hover .portfolio__hiden,
.portfolio__item:focus .portfolio__hiden {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio__item:nth-child(2n) {
    margin-right: 0px;
  }
  .portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .portfolio__item:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .portfolio__item:nth-child(8) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

.portfolio__image {
  position: relative;
  overflow: hidden;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .portfolio__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__image {
    width: 370px;
  }
}

.portfolio__foto {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .portfolio__foto {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__foto {
    width: 370px;
  }
}

.portfolio__hiden {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

@media screen and (min-width: 768px) {
  .portfolio__hiden {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__hiden {
    padding: 64px 24px 64px 24px;
  }
}

.portfolio__text {
  padding: 20px 24px 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__text {
    width: 354px;
  }
}

.portfolio__name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__title {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.89;
  color: #757575;
}

.mobail-buton-menue {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #212121;
  z-index: 1;
  color: #212121;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobail-buton-menue {
    display: none;
  }
}

.mobail-buton-menue__icon {
  cursor: pointer;
}

.mobail-buton-menue__icon--close {
  display: none;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.mobail-buton-menue__icon--close:hover, .mobail-buton-menue__icon--close:focus {
  fill: #2196F3;
}

.mobail-buton-menue.is-open .mobail-buton-menue__icon--close {
  display: block;
  z-index: 2;
  position: relative;
}

.mobail-buton-menue.is-open .mobail-buton-menue__icon--menu {
  display: none;
}

.mobile-backround {
  min-width: 480px;
  background: #FFFFFF;
}

.mobile-site-nav {
  display: none;
  padding-top: 8px;
  padding-left: 40px;
  position: absolute;
  top: 0;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  overflow: scroll;
}

.mobile-site-nav.is-open {
  display: block;
}

.mobile-site-nav__item {
  font-size: 40px;
}

.mobile-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-site-nav__link--main {
  color: #2196F3;
}

.mobile-site-nav__link {
  color: #212121;
}

.mobail-header-block__contacts {
  margin-top: 306px;
}

.mobile-header-block__contacts--item:not(:first-child) {
  margin-top: 32px;
}

.mobile-header-block__contacts--phone {
  color: #2196F3;
  font-size: 34px;
}

.mobile-header-block__contacts--mail {
  color: #757575;
  font-size: 24px;
}

.mobile-social-networks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 64px;
}

.mobile-social-networks__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-networks__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social-networks__item--text {
  color: #2196F3;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */