@import "../untils/mixin";
@import "../untils/vars";


.footer {
    background-color: #2F303A;
       
    line-height: 1.71;
    color: var(--backround-color);
}

.footer__block {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}


.footer__item {

    &:first-child {
        margin-right: 70px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    &:nth-child(2) {
        margin-right: 93px;
        margin-top: 72px;
    }
    
    &:nth-child(3) {
        margin-top: 72px;
    }
    

}

.footer__logo--wight {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px ;
    color: $backround-color;
}

.footer__logo--blue {
    color: $accent-color;
}


.footer__address {
    margin-top: 20px;
}

.footer__text {
    color: $backround-color;

    &:first-child {
        color: $backround-color;
    }

    &:nth-child(n+2) {
        margin-top: 9px;
    }

}

.footer__contacts {
    color: $backround-color; opacity: 0.6;
}

.footer__header {
    font-weight: 700;
    text-transform: uppercase;
    color: $backround-color ;
    
}


.footer__social-networks--block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}


.footer__social-networks {
    &:not(:last-child) {
        margin-right: 10px;
    }
    
}

.footer__social-networks--icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    fill: $backround-color;
    border-radius: 50%;
    background-color: 
    rgba(255, 255, 255, 0.1);

    transition-property: color, background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

    &:hover , &:focus  {
    background-color: $accent-color;
    color: backround-color;
}
}

.footer__maling {
    display: flex;
    margin-top: 20px;

    input:focus {
        outline: 0;
       
    }
}

.footer__maling--button {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    border: none;
    margin-left: 12px;
    color: $backround-color;
    cursor: pointer;


    font-weight: 700;
    font-size:16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    fill: $backround-color;
}

.footer__maling--text {
    font-weight: 700;
    font-size:16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    fill: $backround-color;
    margin-right: 10px;

}

.footer__maling--input {
    width: 358px;
    height: 50px;
    color:  $backround-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 4, 4, 0.15);
    background-color: rgba(47, 48, 58, 1);
    padding-left: 16px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
     
    }
}

