@import "../untils/mixin";
@import "../untils/vars";



.mobail-buton-menue {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    fill: $main-text-color;
    z-index: 1;
    color: $main-text-color;
    @media screen and (min-width: 768px) {
        display:none;
    }
}

.mobail-buton-menue__icon {
    transform: translateY(-11);
    transform: translateX(-6px);
    cursor: pointer;
}

.mobail-buton-menue__icon--close {
    display: none;
    fill: currentColor;
    

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

    &:hover, &:focus {
        fill: $accent-color;
    }
}

.mobail-buton-menue.is-open .mobail-buton-menue__icon--close {
display: block;
z-index: 2;
position: relative;
}

.mobail-buton-menue.is-open .mobail-buton-menue__icon--menu {
    display: none;
    }

.mobile-backround{
    width: 100vw;
    background: $backround-color;
}
.mobile-site-nav {
    display: none;
    padding-top: 8px;
    padding-left: 40px;
    position: absolute;
    top: 0;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $main-text-color;
    transform: translateX(15px);
    overflow: scroll;
    
   
    &.is-open {
        display: block;
       
    }

}

.mobile-site-nav__item {
    font-size: 40px;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-site-nav__link--main {
    color: $accent-color;
}
.mobile-site-nav__link {
    color: $main-text-color;
}


.mobail-header-block__contacts{
    margin-top: 306px;
}

.mobile-header-block__contacts--item {
    &:not(:first-child) {margin-top: 32px;
}
}

.mobile-header-block__contacts--phone {
    color: $accent-color;
    font-size: 34px;
}

.mobile-header-block__contacts--mail {
   
    color: $second-text-color;
    font-size: 24px;
}

.mobile-social-networks {
    display: inline-flex;
    margin-top: 64px;
}

.mobile-social-networks__item {
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid 
        rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child){
        padding-left: 10px;
    }
}

.mobile-social-networks__item--text{
    color: $accent-color;
    font-size: 18px;
}