@import "../untils/mixin";
@import "../untils/vars";

.header{
    position: fixed;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    outline: 1px solid #ECECEC;
    background-color: $backround-color;
    z-index: 1;
}

.header-block{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
    }

.header-block__site-nav{
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-block__logo--black {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px ;
    color: $main-text-color;
}

.header-block__logo--blue {
    color: $accent-color;
}

.header-block__site-nav {
    align-items: center;

    @media screen and (max-width: 768px) {
       display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 88px;
        display: inline-flex;
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        margin-left: 93px;
    }
}

.site-nav {
    @include centeredFlex (inline-flex);
    
}

.site-nav__item {
    @include centeredFlex (inline-flex);
    cursor: pointer;
    
    &:not(:last-child) {
    margin-right: 50px;
    }
}

.site-nav__link {
    display: block;
    position: relative;
    color: $main-text-color;

    &:focus, &:hover {
        color: $accent-color;
    }

    font-weight: 500;
    letter-spacing: 0.02em; 
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.site-nav__link--main {
    margin-top: 32px;
    &::after {
        content: '';
          
        margin-top: 28px;
    
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: $accent-color;
    }
}

.header-block__contacts {

    @media screen and (min-width: 768px) {
    margin-left: 84px;
    @include centeredFlex (flex);
    flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        width: 333px;
        display: flex;
        margin-left: 305px;
        
    }
}

.header-block__contacts--item{

    @media screen and (min-width:768px){
        @include centeredFlex (inline-flex);
        &:first-child {
            margin-bottom: 10px;
        }
    
    }
    @media screen and (min-width: 1200px){
        &:first-child {
            margin-bottom: 0px;
        }
    margin-bottom: 0;
        &:not(:first-child) {
            margin-left: 30px;
            display: inline-flex;
            
        }
    }
}

.header-block__contacts--link {
    display: inline-flex;
    align-items: center;
    color: $second-text-color;


    &:hover, &:focus {
        color: $accent-color;
        fill: $accent-color ;

        @media screen and (min-width: 1200px) {
           font-size: 12px;
        }
    }

    font-weight: 500;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.header-block__contacts--icon{
    fill: currentColor;
    margin-right: 10px;
}

.header-block__contacts--text {
    @media screen and (max-width: 1200px) {
        font-size: 12px;
     }
}

